<html layout:decorate="@{mily/common/layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지 > 회원 정보 수정</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script>
        var checkUserEmailDupDebounce, checkUserPhoneNumberDupDebounce;

        $(document).ready(function() {
            function checkUserEmailDup(form) {
                form.userEmail.value = form.userEmail.value.trim();

                if ( form.userEmail.value.length == 0 ) {
                    clearUserEmailInputMsg();
                    return;
                }
                if ( form.userEmail.value.length < 3 ) {
                    clearUserEmailInputMsg();
                    return;
                }

                if ( validUserEmail == form.userEmail.value ) return;
                if ( lastCheckedUserEmail == form.userEmail.value ) return;

                lastCheckedUserEmail = form.userEmail.value;
                clearUserEmailInputMsg();

                fetch(
                    'checkUserEmailDup?userEmail=' + form.userEmail.value
                )
                    .then(res => res.json())
                    .then((rsData) => {
                        if ( rsData.success ) {
                            validUserEmail = form.userEmail.value;
                        }
                        setUserEmailInputMsg(rsData.success, rsData.msg);
                    });
            }

            function checkUserPhoneNumberDup(form) {
                form.userPhoneNumber.value = form.userPhoneNumber.value.trim();

                if ( form.userPhoneNumber.value.length == 0 ) {
                    clearUserPhoneNumberInputMsg();
                    return;
                }
                if ( form.userPhoneNumber.value.length < 11 ) {
                    clearUserPhoneNumberInputMsg();
                    return;
                }

                if ( validUserPhoneNumber == form.userPhoneNumber.value ) return;
                if ( lastCheckedUserPhoneNumber == form.userPhoneNumber.value ) return;

                lastCheckedUserPhoneNumber = form.userPhoneNumber.value;
                clearUserPhoneNumberInputMsg();

                fetch(
                    'checkUserPhoneNumberDup?userPhoneNumber=' + form.userPhoneNumber.value
                )
                    .then(res => res.json())
                    .then((rsData) => {
                        if ( rsData.success ) {
                            validUserPhoneNumber = form.userPhoneNumber.value;
                        }
                        setUserPhoneNumberInputMsg(rsData.success, rsData.msg);
                    });
            }

            const editForm = document['edit-form'];
            checkUserEmailDupDebounce = _.debounce(() => checkUserEmailDup(editForm), 500);
            checkUserPhoneNumberDupDebounce = _.debounce(() => checkUserPhoneNumberDup(editForm), 500);

            function clearUserEmailInputMsg() {
                $(editForm.userEmail).removeClass('input-accent input-error');
                $(editForm.userEmail).next().removeClass('text-green-400 text-red-400');
                $(editForm.userEmail).next().empty();
            }
            function setUserEmailInputMsg(isSuccess, msg) {
                if ( isSuccess ) $(editForm.userEmail).addClass('input-accent');
                if ( !isSuccess ) $(editForm.userEmail).addClass('input-error');
                $(editForm.userEmail).next().addClass(isSuccess ? 'text-green-400' : 'text-red-400');
                $(editForm.userEmail).next().text(msg);
            }
            function clearUserPhoneNumberInputMsg() {
                $(editForm.userPhoneNumber).removeClass('input-accent input-error');
                $(editForm.userPhoneNumber).next().removeClass('text-green-400 text-red-400');
                $(editForm.userPhoneNumber).next().empty();
            }
            function setUserPhoneNumberInputMsg(isSuccess, msg) {
                if ( isSuccess ) $(editForm.userPhoneNumber).addClass('input-accent');
                if ( !isSuccess ) $(editForm.userPhoneNumber).addClass('input-error');
                $(editForm.userPhoneNumber).next().addClass(isSuccess ? 'text-green-400' : 'text-red-400');
                $(editForm.userPhoneNumber).next().text(msg);
            }
        });

        let validUserEmail = '';
        let lastCheckedUserEmail = '';
        let validUserPhoneNumber = '';
        let lastCheckedUserPhoneNumber = '';

        console.log(validUserEmail);

        let submitEditFormDone = false;

        function submitEditForm(form) {
            if ( submitEditFormDone ) return;

            form.userEmail.value = form.userEmail.value.trim();
            form.userPhoneNumber.value = form.userPhoneNumber.value.trim();

            if ( validUserEmail != form.userEmail.value ) {
                $(form.userEmail).next().focus();
                toastWarning('이메일 중복 체크를 해주세요.');
                return;
            }
            if ( validUserPhoneNumber != form.userPhoneNumber.value ) {
                $(form.userPhoneNumber).next().focus();
                toastWarning('전화번호 중복 체크를 해주세요.');
                return;
            }
            form.submit();
            submitEditFormDone = true;
        }
    </script>
    <script>
        const passwordForm = document['password-form'];

        let submitPasswordFormDone = false;
        function submitPasswordForm(form) {
            if ( submitPasswordFormDone ) return;

            form.userPassword.value = form.userPassword.value.trim();

            if ( form.userPassword.value.length == 0 ) {
                form.userPassword.focus();
                toastWarning('변경할 비밀번호를 입력해주세요.');
                return;
            }
            if ( form.userPassword.value.length < 7 ) {
                form.userPassword.focus();
                toastWarning('비밀번호는 8글자 이상이어야 합니다..');
                return;
            }

            form.userPassword2.value = form.userPassword2.value.trim();

            if ( form.userPassword2.value.length == 0 ) {
                form.userPassword2.focus();
                toastWarning('비밀번호 확인 입력 란을 확인해주세요.');
                return;
            }
            if ( form.userPassword.value != form.userPassword2.value ) {
                form.userPassword2.focus();
                toastWarning('2개의 비밀번호가 일치하지 않습니다..');
                return;
            }

            form.submit();
            submitEditFormDone = true;
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <!--  메뉴바  -->
    <div id="header_menu" class="text-lg w-full fixed top-20 left-0 bg-white z-50 h-12 border-b pt-4">
        <div class="flex max-w-7xl m-auto justify-evenly">
            <a th:href="@{/user/mypage/info}" class="hover:text-blue-400 text-gray-300">내 정보</a>
            <a th:href="@{/user/mypage/edit}" class="ml-5"
               style="color: rgb(43, 45, 47); border-bottom: 2px solid black; padding-bottom: 3px;">계정 설정</a>
        </div>
    </div>

    <div class="main-form">
        <form th:action="@{|/user/mypage/edit/other|}" method="POST" class="edit-form" name="edit-form"
              onsubmit="submitEditForm(this); return false;">
            <span class="large-text">회원정보 수정</span>
            <span class="regular-text">이메일</span>
            <input class="form-input" type="text" th:placeholder="${user.userEmail}" name="userEmail" id="userEmail"
                   onchange="$(this).keyup();"
                   onpaste="setTimeoutZero(() => $(this).keyup());"
                   onkeyup="checkUserEmailDupDebounce();" maxlength="25">
            <div class="text-sm"></div>
            <span class="regular-text mt-4">전화번호</span>
            <input class="form-input" type="text" th:placeholder="${user.userPhoneNumber}" name="userPhoneNumber"
                   id="userPhoneNumber" onchange="$(this).keyup();"
                   onpaste="setTimeoutZero(() => $(this).keyup());"
                   onkeyup="checkUserPhoneNumberDupDebounce();" maxlength="11">
            <div class="text-sm"></div>

            <div class="btn-wrap">
                <button class="btn btn-block btn-primary" type="submit">
                    <span>저장하기</span>
                </button>
            </div>
        </form>
    </div>

    <div class="main-form">
        <form th:action="@{|/user/mypage/edit/password|}" method="POST" class="edit-form" name="password-form"
              onsubmit="submitPasswordForm(this); return false;">
            <span class="large-text">비밀번호 변경</span>
            <span class="regular-text">현재 비밀번호 확인</span>
            <input class="form-input" type="password" placeholder="현재 비밀번호를 입력해주세요." name="userPasswordConfirm">
            <span class="regular-text mt-4">변경할 비밀번호</span>
            <input class="form-input" type="password" placeholder="변경할 비밀번호를 입력해주세요." name="userPassword"
                   id="userPassword">
            <span class="regular-text mt-4">변경할 비밀번호 확인</span>
            <input class="form-input" type="password" placeholder="변경할 비밀번호를 입력해주세요." name="userPassword2"
                   id="userPassword2">

            <div class="btn-wrap">
                <button class="btn btn-block btn-primary">
                    <span>변경하기</span>
                </button>
            </div>
        </form>
    </div>
    <a target="_blank" th:href="@{/user/mypage/withdraw}" class="withdraw-btn">
        <i class="fa-solid fa-delete-left" style="width: 14px; text-align: center;"></i>
        회원 탈퇴</a>


    <style>
        .main-form {
            display: flex;
            margin: 48px 0;
            width: 640px;
            justify-content: center;
        }
        .large-text {
            display: flex;
            font-size: 32px;
            font-weight: 600;
            margin: 96px 0 24px;
            justify-content: center;
        }
        .regular-text {
            display: flex;
            font-size: 18px;
            padding: 10px 20px;
            font-weight: 400;
            justify-content: flex-start;
        }
        .form-input {
            border-bottom: 2px solid rgba(155, 155, 155, 0.1);
            border-radius: 7.5px 7.5px 0 0;
            width: 640px;
            padding: 10px 20px;
            box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.1);
        }
        .text-sm {
             display: flex;
             justify-content: flex-start;
             padding: 10px 20px;
             height: 20px;
        }
        .btn-wrap {
            display: flex;
            justify-content: center;
            margin: 36px 0;
        }
        .btn-wrap > .btn {
            background-color: #fff;
            border: 2px solid #309cff;
            border-radius: 10px;
            width: 320px;
            color: #309cff;
            padding: 10px 80px;
        }
        .btn-wrap > .btn:hover {
            background-color: #fff;
            border: 2px solid #87bbfa;
            color: #87bbfa;
        }
        .withdraw-btn {
            font-size: 14px;
        }
    </style>
</div>
</body>
</html>