<html layout:decorate="@{mily/common/layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상담 예약 : MILY</title>
</head>

<body>
<div layout:fragment="content">

    <div class="mt-20" style="width: 865px; border-radius: 30px; border: 1px solid #1C1B1F;">
        <div class="collapse collapse-arrow">
            <input type="radio" name="my-accordion-2"/>
            <div class="collapse-title text-xl font-medium">
                상담 예약
            </div>
            <div class="collapse-content flex" style="justify-content: space-around;">
                <button>30분 상담</button>
                <button>60분 상담</button>
            </div>
        </div>
        <div class="collapse collapse-arrow">
            <input type="radio" name="my-accordion-2"/>
            <div class="collapse-title text-xl font-medium">
                날짜 선택
            </div>
            <div class="collapse-content">
                <p>hello</p>
            </div>
        </div>
        <div class="collapse collapse-arrow">
            <input type="radio" name="my-accordion-2"/>
            <div class="collapse-title text-xl font-medium">
                시간 선택
            </div>
            <div class="collapse-content flex" style="flex-direction: column">
                <div class="flex mb-2" style="justify-content: space-around; text-align: center;">
                    <button style="width: 70px; height: 30px; border-radius: 10px; border: 1px solid #757575; padding: 5px 10px;" value="1">09:00</button>
                    <button style="width: 70px; height: 30px; border-radius: 10px; border: 1px solid #757575; padding: 5px 10px;">10:00</button>
                    <button style="width: 70px; height: 30px; border-radius: 10px; border: 1px solid #757575; padding: 5px 10px;">11:00</button>
                    <button style="width: 70px; height: 30px; border-radius: 10px; border: 1px solid #757575; padding: 5px 10px;">13:00</button>
                </div>
                <div class="flex mt-2" style="justify-content: space-around;">
                    <button style="width: 70px; height: 30px; border-radius: 10px; border: 1px solid #757575; padding: 5px 10px;">15:00</button>
                    <button style="width: 70px; height: 30px; border-radius: 10px; border: 1px solid #757575; padding: 5px 10px;">16:00</button>
                    <button style="width: 70px; height: 30px; border-radius: 10px; border: 1px solid #757575; padding: 5px 10px;">17:00</button>
                    <button style="width: 70px; height: 30px; border-radius: 10px; border: 1px solid #757575; padding: 5px 10px;">14:00</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>