/* 폰트 설정 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding : 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

/* CSS 파일 또는 <style> 태그 내에 추가 */
.blue-background {
    background-color: transparent; /* 배경색을 투명하게 설정 */
    color: #808080; /* 글자색 */
    padding: 5px; /* 내부 패딩 추가 */
    border-radius: 5px; /* 모서리를 둥글게 */
    /* 기타 스타일링 속성 추가 가능 */
}


.hashtag {
    background-color: #e1e1e1;
    color: blue;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* X축 위치, Y축 위치, 퍼짐, 색상 */
}

footer {
    margin-bottom: 50px; /* 또는 원하는 크기 */
}

body {
    padding-bottom: 50px; /* 또는 원하는 크기 */
}

.reply-form {
    margin-top: 50px; /* 상단 공백 */
}

.reply-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.reply-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.reply-form button:hover {
    background-color: #45a049;
}

/* 두 드롭다운 메뉴에 공통적으로 적용되는 스타일 */
#firstCategory, #secondCategory {
  background-color: #f0f0f0; /* 배경색 */
  color: #333; /* 텍스트 색상 */
  border: 2px solid #ddd; /* 테두리 */
  padding: 10px; /* 내부 패딩 */
  border-radius: 5px; /* 테두리 둥글게 */
  font-size: 16px; /* 폰트 크기 */
}

/* 드롭다운 메뉴 호버 시 스타일링 */
#firstCategory:hover, #secondCategory:hover {
  background-color: #e9e9e9; /* 호버 시 배경색 변경 */
  cursor: pointer; /* 마우스 커서 변경 */
}

#point {
    background-color: #fff; /* 배경색 */
    color: #333; /* 텍스트 색상 */
    border: 2px solid #ddd; /* 테두리 */
    padding: 10px; /* 내부 패딩 */
    border-radius: 5px; /* 테두리 둥글게 */
    font-size: 16px; /* 폰트 크기 */
    margin-top: 5px; /* 상단 여백 */
}

.content-box {
    border: 1px solid #ddd; /* 테두리 */
    padding: 20px; /* 내부 패딩 */
    margin: 20px 0; /* 위 아래 마진 */
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

ol, ul {
    margin-left: 20px;
}

#point {
   background-color: #f0f0f0; /* 배경색 */
     color: #333; /* 텍스트 색상 */
     border: 2px solid #ddd; /* 테두리 */
     padding: 10px; /* 내부 패딩 */
     border-radius: 5px; /* 테두리 둥글게 */
     font-size: 16px; /* 폰트 크기 */
   }

.parent-container {
    width: 100%; /* 또는 다른 넓이 값 */
    max-width: 1900px; /* 최대 넓이 설정 */
    margin: 0 auto; /* 가운데 정렬을 위한 마진 설정 */
}



/* .sideBanner 클래스에 대한 스타일 설정 */
.sideBanner {
  /* 요소의 위치를 절대 위치로 지정 */
  position: absolute;

  /* 요소의 너비를 150px로 설정 */
  width: 300px;

  right: -300px;

  /* 요소의 높이를 200px로 설정 */
  height: 900px;

  /* 요소의 위치를 위에서부터 50px 아래로 설정 */
  top: 20px;

  /* 배경 색상을 #999900으로 설정 */
  background-color: #fffffff;

  /* 텍스트 색상을 #fffffff(흰색)으로 설정 */
  color: #000000;

   /* 박스 선 추가 */
    border: 2px solid #F2F2F2;
    border-radius: 10px; /* 선 끝을 둥글게 만들기 위한 속성 */
}

/* 폰트 설정 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

/* 노말라이즈 */
body, ul, li {
	margin: 0; padding: 0;
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}


/* 라이브러리 */

/* 커스텀 */
:root {
  --site-width: 1280px;
}

.con {
  max-width: var(--site-width);
}

/* icon */
.watch-icon {
  width: 15px;
  height: 15px;
}

.lawyer-text:after {
  width: 4px;
  height: 4px;
  line-height: 18px;
  margin-left: 2px;
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  border-radius: 50%;
  content: "";
  display: inline-block;
}

.category > .container .click-button-box .click_reserve-button {
  border: 0;
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  width: 64px;
  height: 64px;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 700;
  line-height: 17px;
  outline: none;
  vertical-align: middle;
}

.category > .lawyerimg-box .lawyer-profile-right {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  overflow: hidden;
  transform: translateZ(0);
}

.lawyerimg-box .lawyer-more-see-block .lawyer-more-see-arrow {
    border-bottom: 2px solid #d8d8d8;
    border-right: 3px solid transparent;
    height: 5px;
    width: 100%;
}

.lawyerimg-box .lawyer-more-see-block .lawyer-more-see-arrow:after {
    border-right: 3px solid #d8d8d8;
    border-top: 0.7px solid transparent;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}

.main-side{
  border: 1px solid gray;
  border-left: 1px;
  height: 100%;
  position: absolute;
  left: 65%;
  margin-left: -3px;
  top: 28%;
}

/* 오른쪽 필터 */
@media (min-width: 560px)
.filter-row-2 .filter-option {
    float: right;
    margin-bottom: 14px;
    padding-right: 20px;
}
.filter-row-2 .filter-option {
    cursor: pointer;
    display: block;
    height: 22px;
}

.lawyer-left-list{
  width : 1280px;
}
/* 폰트 설정 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

/* 노말라이즈 */
body, ul, li {
	margin: 0; padding: 0;
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}


/* 라이브러리 */

/* 커스텀 */
:root {
  --site-width: 1280px;
}

.con {
  max-width: var(--site-width);
}

/* icon */
.watch-icon {
  width: 15px;
  height: 15px;
}

.lawyer-text:after {
  width: 4px;
  height: 4px;
  line-height: 18px;
  margin-left: 2px;
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  border-radius: 50%;
  content: "";
  display: inline-block;
}

.category > .container .click-button-box .click_reserve-button {
  border: 0;
  background-color: skybule;
  width: 64px;
  height: 64px;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 700;
  line-height: 17px;
  outline: none;
  vertical-align: middle;
}

.category > .lawyerimg-box .lawyer-profile-right {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  overflow: hidden;
  transform: translateZ(0);
}

.lawyerimg-box .lawyer-more-see-block .lawyer-more-see-arrow {
    border-bottom: 2px solid #d8d8d8;
    border-right: 3px solid transparent;
    height: 5px;
    width: 100%;
}

.lawyerimg-box .lawyer-more-see-block .lawyer-more-see-arrow:after {
    border-right: 3px solid #d8d8d8;
    border-top: 0.7px solid transparent;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}

.main-side{
  border: 1px solid gray;
  border-left: 1px;
  height: 100%;
  position: absolute;
  left: 65%;
  margin-left: -3px;
  top: 28%;
}

/* 오른쪽 필터 */
@media (min-width: 560px)
.filter-row-2 .filter-option {
    float: right;
    margin-bottom: 14px;
    padding-right: 20px;
}
.filter-row-2 .filter-option {
    cursor: pointer;
    display: block;
    height: 22px;
}

.lawyer-left-list{
  width : 1280px;
}

.click_reserve-button {
    background-color: #87CEEB; /* 스카이 블루 */
    color: #fff; /* 텍스트 색상을 흰색으로 설정 (선택사항) */
    /* 다른 스타일 속성들도 필요에 따라 추가할 수 있습니다. */
}



